html{
  font-family: helvetica;
  font-size: 18px;
}

header {
  background-color: black;
  color: white;
}

header img{
  height: 1.5rem;
}

header .boxen{
  display: flex;
  align-items: center;
  padding: .66rem 0 .66rem .5em;

}
header span{
  padding-left: 1rem;
}

main{

}

.banner {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.new_arrival {
  background-color: black;
  color: white;
  width: 20rem;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
}

h1{
  margin-top: 0.25rem;
  font-size: 2rem;
}


.boxen{
  max-width: 960px;
  margin: auto;
}

.new_arrival{
  text-transform: uppercase;
}
